**Question1
Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.**

**Examples**

* **equal(3, 4, 3) ➞ 2**

* **equal(1, 1, 1) ➞ 3**

* **equal(3, 4, 1) ➞ 0**

* **Notes**

* **Your function must return 0, 2 or 3.**

In [2]:
def equal(a,b,c) :
    l1 = []
    count = []
    ele = a,b,c
    for i in ele :
        l1.append(i)
    for j in l1 :
        count.append(l1.count(j))
    count.sort()
    no_of_equal_ele = count[-1]
    if no_of_equal_ele == 3 :
        return 3 
    elif no_of_equal_ele == 2 :
        return 2 
    else :
        return 0

In [3]:
equal(3, 4, 3)

2

In [4]:
equal(1, 1, 1)

3

In [5]:
equal(3, 4, 1)

0



---

**Question2**

**Write a function that converts a dictionary into a list of keys-values tuples.
Examples** 

dict_to_list({

&quot;D&quot;: 1,

&quot;B&quot;: 2,

&quot;C&quot;: 3

}) 

* ➞ [(&quot;B&quot;, 2), (&quot;C&quot;, 3), (&quot;D&quot;, 1)]


dict_to_list({

&quot;likes&quot;: 2,

&quot;dislikes&quot;: 3,

&quot;followers&quot;: 10

}) 

* ➞ [(&quot;dislikes&quot;, 3), (&quot;followers&quot;, 10), (&quot;likes&quot;, 2)]

**Notes :
Return the elements in the list in alphabetical order.**

In [6]:
def dict_to_list(n) :
    l1 = []
    for k , v in n.items() :
        l1 = l1 + [(k,v)]
    l1.sort()
    return l1

In [7]:
dict_to_list(({

"D": 1,

"B": 2,

"C": 3

}))

[('B', 2), ('C', 3), ('D', 1)]

In [8]:
dict_to_list(({

"likes": 2,

"dislikes": 3,

"followers": 10

}))

[('dislikes', 3), ('followers', 10), ('likes', 2)]



---

**Question3
Write a function that creates a dictionary with each (key, value) pair being the (lower case,
upper case) versions of a letter, respectively.**


* Examples =>
* mapping([&quot;p&quot;, &quot;s&quot;]) ➞ { &quot;p&quot;: &quot;P&quot;, &quot;s&quot;: &quot;S&quot; }


* mapping([&quot;a&quot;, &quot;b&quot;, &quot;c&quot;]) ➞ { &quot;a&quot;: &quot;A&quot;, &quot;b&quot;: &quot;B&quot;, &quot;c&quot;: &quot;C&quot; }

* mapping([&quot;a&quot;, &quot;v&quot;, &quot;y&quot;, &quot;z&quot;]) ➞ { &quot;a&quot;: &quot;A&quot;, &quot;v&quot;: &quot;V&quot;, &quot;y&quot;: &quot;Y&quot;, &quot;z&quot;: &quot;Z&quot; }

**Notes
All of the letters in the input list will always be lowercase.**

In [13]:
def mapping(n) :
    d1 = {}
    for i in n :
        d1[i] = i.upper()
    return d1

In [14]:
mapping(["b" , "c" , "d"])

{'b': 'B', 'c': 'C', 'd': 'D'}



---

**Question4
Write a function, that replaces all vowels in a string with a specified vowel.**

**Examples**

* vow_replace(&quot;apples and bananas&quot;, &quot;u&quot;) ➞ &quot;upplus und bununus&quot;

* vow_replace(&quot;cheese casserole&quot;, &quot;o&quot;) ➞ &quot;chooso cossorolo&quot;

* vow_replace(&quot;stuffed jalapeno poppers&quot;, &quot;e&quot;) ➞ &quot;steffed jelepene peppers&quot;

**Notes
All words will be lowercase. Y is not considered a vowel.**

In [20]:
def vow_replace(string , letter) :
    owels = ["a" , "e" , "i" , "o" , "u"]
    repl_owels = []
    for i in owels :
        if i in string :
            repl_owels = repl_owels + [i]
        for char in repl_owels :
            string = string.replace(char , letter)
    return string

In [21]:
vow_replace("apples and bananos" , "m")

'mpplms mnd bmnmnms'



---

**Question5**

**Create a function that takes a string as input and capitalizes a letter if its ASCII code is even and returns its lower case version if its ASCII code is odd.**

**Examples**

* ascii_capitalize(&quot;to be or not to be!&quot;) ➞ &quot;To Be oR NoT To Be!&quot;

* ascii_capitalize(&quot;THE LITTLE MERMAID&quot;) ➞ &quot;THe LiTTLe meRmaiD&quot;

* ascii_capitalize(&quot;Oh what a beautiful morning.&quot;) ➞ &quot;oH wHaT a BeauTiFuL
moRNiNg.&quot;**

In [22]:
def ascii_capitalize(string) :
    for i in string :
        if ord(i) % 2 == 0 :
            string = string.replace(i, i.upper())
        else :
            string = string.replace(i , i.lower())
    return string

In [25]:
 ascii_capitalize("to be or not to be")

'To Be oR NoT To Be'

In [24]:
ascii_capitalize("THE LITTLE MERMAID")

'THe LiTTLe meRmaiD'

In [26]:
ascii_capitalize("Oh what a beautiful morning")

'oH wHaT a BeauTiFuL moRNiNg'



---